.paragraph--type--block-embed .contact-message-feedback-form,
.paragraph--type--block .contact-message-feedback-form {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include media-breakpoint-down(md) {
    max-width: none;
  }
  h2 {
    @extend .thin-heading;
    color: $blue;
  }
  //form elements shouldn't have borders or curved corners at all
  input,
  .form-select,
  .form-textarea {
    border-radius: 0;
    border-width: 0;
  }
  .form-item {
    margin-bottom: 1rem;
  }
  label {
    margin-bottom: 0;
  }
  .form-submit {
    @extend .btn;
    @extend .btn-secondary;
    cursor: pointer;
  }
  .form-select {
    @extend .form-control;
  }
  .form-textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    resize: none;
    max-height: 60px;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
  .form-actions {
    position: relative;

    &:after {
      @extend %button-arrow-after;
    }
  }
  input.form-submit {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-secondary;
    width: 100%;
  }
}

.paragraph--type--map-and-contact {
  //as far as I can tell, the Google Map is breaking the bootstrap grid, causing a horizontal scroll. So in this one
  //instance, a .row will have no margin on the left and right. This section also has some special formatting where
  //there is no padding on the left side, but on the right side (where the contact form is) we treat it as a .col-6
  //in a .container (not .container-fluid). It's very confusing but it seems to be working okay without a bunch of
  //hacks to the padding and margins of bootstrap, except for this one.
  margin-left: 0;
  margin-right: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  .contact-message-feedback-form h2 {
    @extend .thin-heading;
    color: $blue;
  }
  // This entire section is container-fluid to accommodate the large Google Map
  // on the left side. However, we don't want the contact form to do the same,
  // so for large-ish displays, we're limiting it with max-width: 540px, which
  // is half of the .container width. So it's like the left side is container-
  // fluid but the right side is container.
  .contact-message-feedback-form {
    max-width: 540px;
    @include media-breakpoint-down(md) {
      max-width: none;
    }
    input,
    .form-select,
    .form-textarea {
      border-radius: 0;
      border-width: 0;
    }
    .form-actions {
      position: relative;

      &:after {
        @extend %button-arrow-after;
      }
    }
    input.form-submit {
      @extend .btn;
      @extend .btn-lg;
      @extend .btn-secondary;
      width: 100%;
    }
  }
  .form-item {
    margin-bottom: 1rem;
  }
  label {
    margin-bottom: 0;
  }
  .form-submit {
    @extend .btn;
    @extend .btn-secondary;
    cursor: pointer;
  }
  .form-select {
    @extend .form-control;
  }
  .form-textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    resize: none;
    max-height: 60px;
  }
  input[type="checkbox"] {
    display: inline-block;
    width: auto;
  }
}


.homepage-contact, .homepage-map,
.paragraph--type--block .contact-block-wrapper,
.paragraph--type--block-embed .contact-block-wrapper {
  background-color: $light-gray;
}

.homepage-map {
  padding-left: 0;
  @include media-breakpoint-down(md) {
    padding-right: 0;
  }
}

//Styles for the Google Maps info window.
.paragraph--type--map-and-contact .homepage-map h2 {
  text-transform: initial;
  color: $blue;
}
