// Sidebar blocks.
aside > div > div {
  border: solid 1px $gray-lighter;
  padding: 1rem 0 0;
  margin: 1.5rem 0;
}

.sidebar_first aside > div > div {
  border: solid 0 $gray-lighter;
  padding: 0;
  margin: 0;
}

aside.newsletter > div > div {
  border: solid 0 $gray-lighter;
}

// Find-a-facility and member login sidebar block.
aside .facility-search.search-login-section.col-12.col-md-6 {
  max-width: 100%;
}

aside .login.search-login-section.col-12.col-md-6 {
  max-width: 100%;
}

// Block Title Icons.
aside svg {
  width: 50px;
}

aside h2 {
  color: $blue;
  font-size: 1.5rem;
  font-weight: 300;
  font-family: "Lato",sans-serif;
  text-align: center;
  padding: 0 2rem;
}

aside .header-image:before,
aside .header-image:after {
  border-top: solid 1px $gray-lighter;
}

aside .header-image + div {
  padding: 1em;
}

// Upcoming Education and Events block.
aside .event-teaser-text h2 {
  text-align: left;
  text-transform: none;
  font-size: 1rem;
  padding: 0;
  margin-top: .3rem;
}

aside .event-teaser-text h2 a {
  color: $gray-dark;
}

aside .event-teaser-text h4 {
  font-weight: 400;
  margin-bottom: 0;
}

aside .date-square {
  background-color: $blue;
}

aside .btn {
  width: 100%;
}

#block-views-block-upcoming-education-and-events-block-1 .views-row article {
  padding-bottom: 3rem;
}

#block-views-block-upcoming-education-and-events-block-1 .views-row:last-child article {
  padding-bottom: 1rem;
}

// Recent News block.
#block-views-block-news-block-2 .views-row {
  margin-bottom: 1rem;
  border-bottom: solid 1px $gray-lighter;
  padding-bottom: 1rem;
}

#block-views-block-news-block-2 .views-row:last-child {
  border-bottom: solid 0 $gray-lighter;
}

#block-views-block-news-block-2  .views-field-title {
  border-left: solid 2px $orange;
  padding-left: .5rem;
}

// Find a facility and Find a vendor sidebar blocks.
aside .facility-search-simple {
  display: block;
}

aside .facility-search-simple input:not(.button):not([type="radio"]):not([type="checkbox"]),
aside .vendor-search-simple input:not(.button):not([type="radio"]):not([type="checkbox"]) {
  width: 90%;
  margin: 0 auto 1rem;
  border-radius: 0;
}

aside .facility-search-simple .form-submit {
  @extend .btn;
  @extend .btn-secondary;
}

aside .facility-search-simple .facility-search-submit input {
  padding: .5rem 3rem .5rem 1rem;
}

aside .vendor-search-simple .vendor-search-submit input {
  @extend .btn;
  @extend .btn-secondary;
}

aside .vendor-search-simple .vendor-search-submit::after {
  content: '>';
  color: #fff;
  position: relative;
  width: 2rem;
  background-color: rgba(0,0,0,0.2);
  bottom: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  float: right;
}


