.header.container-fluid {
  padding-left: 0;
  padding-right: 0;
  .header-region.container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}

// Page title hero
#block-msca-theme-page-title {
  background-color: $blue;
  padding: 2.3rem 0 1.6rem;
  clear: left;
  h1 {
    color: white;
    text-align: center;
    letter-spacing: 1px;
    @extend .container;
  }
}

#block-sitebranding {
  width: 260px;
  float: left;
  padding: 15px 0 10px;
}

.title-underline {
  margin: 0 auto;
  text-align: center;
}

.title-line {
  border-top: solid 2px white;
  height: 25px;
  display: inline-block;
}

.title-icon {
  background: url('/themes/msca_theme/images/heart-pulse-white.svg') no-repeat center;
  width: 90px;
  height: 55px;
  display: inline-block;
}

