.event-call-to-action div {
  display: inline-block;
}

aside .date-square {
  float: left;
  margin-right: 10px;
}

.page-node-type-education-events .row {
  margin-top: 3rem;
}

.page-node-type-education-events .social-links {
  margin: 1rem auto;
  text-align: center;
}
