.page-node-type-newsletter article header {
  margin-left: 1rem;
}

.page-node-type-newsletter .header-top {
  padding: 1rem 0 1rem;
  min-height: 140px;
}

.page-node-type-newsletter .header-top img {
  margin-top: 20px;
}

.page-node-type-newsletter .header-top h2 {
  color: $blue;
  font-size: 4rem;
  margin-bottom: 0;
  margin-top: 50px;
}

.page-node-type-newsletter .header-bottom {
  background-color: $blue;
  color: $light-gray;
  padding: 1rem;
  min-height: 4rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

@include media-breakpoint-down(md) {
  .page-node-type-newsletter .header-top {
    min-height: 75px;
  }
  .page-node-type-newsletter .header-top h2 {
    font-size: 3.5rem;
    margin-top: 0;
  }
  .page-node-type-newsletter .header-top .float-right {
    display: none;
  }
  .page-node-type-newsletter .header-bottom {
    font-size: 1rem;
    padding: 0 1rem;
    min-height: 2rem;
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .page-node-type-newsletter .header-top h2 {
    font-size: 2rem;
    margin-top: 20px;
  }
  .page-node-type-newsletter .header-bottom {
    font-size: .9rem;
  }
  .page-node-type-newsletter .header-bottom .float-left {
    display: none;
  }
}

.page-node-type-newsletter .icon-social {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 1rem;
}

.issue-toc li {
  margin-bottom: 1.5rem;
}

aside.newsletter {
  border: solid 0 lightgrey;
  padding: 0;
}

aside.newsletter .sidebar-block {
  border: solid 1px lightgrey;
  padding: 2rem;
  margin-bottom: 2rem;
}

.featured-article {
  padding-bottom: 10px;
  margin-bottom: 1rem;
}
.featured-article > h2 {
  background-color: $orange;
  color: white;
  padding: 1rem;
}

.latest-articles > h2 {
  background-color: $green;
  color: white;
  padding: 1rem;
}

.latest-articles {
  margin-top: 1rem;
}

.calendar > h2 {
  background-color: $dark-blue;
  color: white;
  padding: 1rem;
}

.newsletter-resources .btn.btn-secondary {
  width: 100%;
  padding-left: 1rem;
  padding-right: 0;
  text-align: left;
}
.paragraph--type--newsletter-section > div:first-of-type {
  color: white;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 0 1rem;
}

.paragraph--type--newsletter-section:nth-child(3n+1) > div:first-of-type {
  background-color: $green;
}

.paragraph--type--newsletter-section:nth-child(3n+2) > div:first-of-type {
  background-color: $blue;
}

.paragraph--type--newsletter-section:nth-child(3n+3) > div:first-of-type {
  background-color: $dark-blue;
}

.anchor:before {
  content: "";
  display: block;
  height: 120px;
  margin: -120px 0 0;
}