// Related Content

.newsletter-article-bottom-row {
  margin-top: 40px;
}

.row-eq-height {
  padding: 1rem 0 3rem;
  display: flex;
}

.newsletter-article-bottom-row article {
  background-color: $gray-lighter;
  padding: 1rem;
  height: 100%;
}

.newsletter-article-bottom-row .row .col-lg-4 {
  float: none;
  vertical-align: top;
  margin-bottom: 1rem;
}

.newsletter-article-bottom-row > h2 {
  border-bottom: solid 1px $gray-light;
  padding-bottom: 10px;
}

.newsletter-article-bottom-row h2 {
  margin: 5px 0;
}

.newsletter-article-bottom-row .views-field {
  height: 100%;
}

.newsletter-article-bottom-row .views-field .field-content {
  height: 100%;
}

.newsletter-article-bottom-row .icon-square,
.newsletter-article-bottom-row .date-square {
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
}

.newsletter-article-bottom-row .date-square {
  background-color: $blue;
}


.newsletter-article-bottom-row h4 {
  font-size: .8rem;
  margin-bottom: 0;
}

.newsletter-article-bottom-row .teaser-text > div,
.newsletter-article-bottom-row .event-teaser-text > div {
  font-size: .9rem;
}

.newsletter-article-bottom-row .read-more {
  font-size: .8rem;
}

.newsletter-article-bottom-row .date-square-month {
  font-size: .7rem;
  line-height: 1;
}

.newsletter-article-bottom-row .date-square-day {
  font-size: .8rem;
  line-height: 1;
}
