.search.nav-item .dropdown-menu {
  position: absolute;
  top: 95%;
  left: -210px;
  z-index: 1000;
  min-width: 18rem;
  padding: 2rem;
  margin: .125rem 0 0;
  background-color: $blue;
  border: 0 solid rgba(0,0,0,0.15);
  border-radius: 0;
  box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22);
  @include media-breakpoint-down(md) {
    left: 0px;
    width: 100%;
  }
}

#block-masthead .search.show {
  background-color: $blue;
}
#block-masthead .search.show a.search {
  background-color: $blue;
}

#block-masthead .search.show input.button {
  @extend .btn;
  @extend .btn-primary;
}

#block-masthead .search.show input:not(.button):not([type="radio"]):not([type="checkbox"]) {
  border-radius: 0;
}

#block-masthead .search.show .submit-input-wrapper::after {
  content: '>';
  color: #fff;
  position: relative;
  width: 2rem;
  background-color: rgba(0,0,0,0.2);
  bottom: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  float: right;
}

#block-masthead .search.show .submit-input-wrapper input {
  margin: 1rem auto;
  width: 100%;
}

.advanced-search {
  text-align: center;
}

.header-menu .navbar-light ul li .advanced-search a {
  font-size: 1rem;
  font-weight: 200;
  color: white;
}
