# Ignore paths that contain user-generated content.
docroot/files
docroot/sites/*/files
docroot/sites/*/private
.DS_Store
.idea/*
docroot/vendor/phayes/geophp/.gitignore

docroot/sites/*/settings.local.php
docroot/sites/sites.local.php

# Remove donate blocks
config/default/block.block.donateform*

# Ignore private files directory used in local development.
private-files

# Ignore databases.
*.sql
*.sql.gz
*.mysql
*.mysql.gz

# Ignore acquia settings folder.
.acquia/cloudapi.conf
