{#
/**
 * @file
 * Template for the site header.
 */
#}

<header class="header">
    <nav class="header-menu" id="js-header-menu">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
            {{ page.navigation }}
        </div>
    </nav>
</header>
