{#
/**
 * @file
 * Template for the site header.
 */
#}

<header class="header">
    <div class="container header-interior">
        <div class="header-logo-wrapper">
            <a href="/" class="logo">

            </a>
        </div>
        <div class="header-right">

        </div>
    </div>
    <nav class="header-menu" id="js-header-menu">
        <div class="container">
            {{ page.navigation }}
        </div>
    </nav>
</header>
