img {
  max-width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: $blue;
}

.section-padding {
  padding-top: $grid-gutter-width-base;
  padding-bottom: $grid-gutter-width-base;
}

.img-border {
  border: solid $gray-bg 1px;
}

// Hidden but still available for accessibility
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}