.newsletter-article-top-row {
  @extend .row;
}

.newsletter-article-date {
  display: flex;
  margin-bottom: 10px;
}

.newsletter-article-left {
  @extend .col-md-8;
}

.newsletter-article-subtitle {
  display: inline-block; // So that bottom margin works
  @extend .h2; //Semantically this shouldn't be an h2, but we want it to look like one
}

.newsletter-article-right {
  @extend .col-md-4;
}

// Related Content
.newsletter-article-bottom-row {
  margin-top: 40px;
}

.row-eq-height {
  padding: 1rem 0 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.newsletter-article-bottom-row article {
  padding: 2rem;
  border: solid 1px $dark-gray;
  height: 100%;
}

.newsletter-article-bottom-row .row .col-lg-4 {
  float: none;
  vertical-align: top;
  margin-bottom: 1rem;
}

.newsletter-article-bottom-row > h2 {
  border-bottom: solid 1px $dark-gray;
  padding-bottom: 10px;
}

// Sidebar recent news
.newsletter-article-right .views-row {
  margin-bottom: 20px;
}

// the col-md-6 class is assigned in the markup instead of using extends, and I'm not sure what contexts it's used in
// hence this terrible bit of hackery to remove the col-md-6 in this context
.newsletter-article-right .facility-and-login .col-md-6 {
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 20px;
}