.sponsor-teaser {
  border: solid 1px $gray;
  padding: 20px;
}

.sponsor-teaser-interior {
  @extend .row;
}

.sponsor-teaser-left {
  @extend .col-md-3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sponsor-teaser-right {
  @extend .col-md-9;
}

// Center sponsors if there's only one
.sponsor-wrapper {
  margin: 15px auto;
}

.multi-sponsor-wrapper {
  min-height: 200px;
}