.paragraph--type--two-column-2-1-ratio {
  @extend .container;
  padding-left: 15px; // For some reason 75px of padding is applied to ALL containers within an article. This undoes that.
  padding-right: 15px;
  // Give this some row behavior without additional markup
  display: flex;
  flex-wrap: wrap;
}

.paragraph--type--two-column-2-1-ratio > div:first-of-type {
  @extend .col-xl-8;
  @extend .col-lg-7;
}

.paragraph--type--two-column-2-1-ratio > div:last-of-type {
  @extend .col-xl-4;
  @extend .col-lg-5;
}