.events-sponsors .views-row {
  padding-left: 75px;
  padding-right: 75px;
  @extend .container;
  @extend .col-md-6;
}

.events-sponsors header h2,
.events-sponsors header p {
  padding-left: 75px;
  padding-right: 75px;
  @extend .container;
}

.events-sponsors .views-element-container {
  display: block;
  clear: both;
  padding-top: 4rem;
  @extend .container;
}

.events-sponsors #block-msca-theme-page-title {
  padding: 2rem 0 1.2rem;
}

.events-sponsors .social-links {
  margin: 1rem auto;
  display: table;
}

.thin-heading.sponsors {
  color: $blue;
  margin-top: 2rem;
}

.header-image.sponsors:before,
.header-image.sponsors:after {
  background-color: $blue;
  width: 47%;
}

.header-image.sponsors {
  padding-left: 75px;
  padding-right: 75px;
}

.sponsor-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 110px;
}

.events-sponsors .col-md-2 {
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}

// Centers sponsor blocks regardless of how many per row.
.events-sponsors .container .logo-social {
  display: flex;
  justify-content: center;
}