.path-content .breadcrumb {
  text-transform: capitalize;
}
.path-content main section.col-sm-12 {
  padding: 0;
}
.all-content article {
  background-color: $gray-lightest;
  padding: 1rem;
  margin: 1rem;
  height: 100%;
}
.all-content .views-row {
  padding: 1rem;
}
