{#
/**
 * @file
 * Template for the site header for Foundation multisite.
 */
#}
<header class="container-fluid" id="site-header">
  <div class="header-menu col-sm-12 col-md-12 col-lg-12">
     <nav class="navbar navbar-toggleable-md navbar-light bg-light" role="navigation">
       <div class="navbar-header">
         <a class="navbar-brand" href="/">
           <img src="/themes/custom/msca_theme/images/massseniorfoundation.png">
         </a>
         <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="hamburger"></span>
         </button>
       </div>

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         {{ page.navigation }}
       </div>
     </nav>
  </div>
  {% if page.navigation_utility %}
    {{ page.navigation_utility }}
  {% endif %}
</header>

{# Contains page title block, which shouldn't be inside sticky header #}
{% if page.header %}
  <div class="header-region container-fluid">
    {{ page.header }}
  </div>
{% endif %}
