[id^='block-findafacilityuserlogin'] {
  background-color: $dark-blue;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: $white;
}

[id^='block-findafacilityuserlogin'] h3 {
  @extend .line-heading;
  color: $white;
  text-align: center;
}

[id^='block-findafacilityuserlogin'] h3:before,
[id^='block-findafacilityuserlogin'] h3:after {
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 50%;
  background-color: $white;
}

[id^='block-findafacilityuserlogin'] h3:before {
  right: 0.5em;
  margin-left: -50%;
}

[id^='block-findafacilityuserlogin'] h3:after {
  left: 0.5em;
  margin-right: -50%;
}

[id^='block-findafacilityuserlogin'] .facility-search-simple .form-text,
[id^='block-findafacilityuserlogin'] .search-login-section .form-text {
  border-radius: 0;
  border-width: 0;
  border-bottom: 3px solid $blue;
  height: 44px;
  margin-top: 0;

}

.facility-search-simple {
  display: flex;
  flex-direction: row;
}

.facility-search-simple .facility-search-submit {
  @extend .btn;
  padding: 0;
}

.facility-search-simple .facility-search-submit input,
[id^='block-findafacilityuserlogin'] .user-login-form .form-actions input {
  background-color: $blue;
  color: $white;
  border: none;
  padding: .7rem 3rem .7rem 1rem;
  text-transform: uppercase;
  width: auto;
  margin-top: 0;
}

.facility-search-simple .facility-search-submit input:hover,
[id^='block-findafacilityuserlogin'] .user-login-form .form-actions input:hover {
  cursor: pointer;
}

.search-login-section p {
  text-align: center;
  color: $white;
}

[id^='block-findafacilityuserlogin'] .bottom-link {
  text-align: right;
  margin-top: .5rem;
}
[id^='block-findafacilityuserlogin'] .bottom-link a {
  color: $white;
  font-weight: normal;
}

[id^='block-findafacilityuserlogin'] .search-login-section .links {
  list-style-type: none;
  padding-left: 0;
}

[id^='block-findafacilityuserlogin'] .search-login-section .links li {
  display: inline-block;
  padding-left: .5rem;
  padding-right: .5rem;
  &:first-of-type {
    border-right: 1px solid $white;
  }
}

[id^='block-findafacilityuserlogin'] .user-login-form .form-item {
  margin-right: 1rem;
}

//we just want to show the placeholders in this context.
[id^='block-findafacilityuserlogin'] .user-login-form label,
[id^='block-findafacilityuserlogin'] .user-login-form .description {
  @extend .visually-hidden;
}
[id^='block-findafacilityuserlogin'] .user-login-form {
  display: flex;
  flex-direction: column;
}

[id^='block-findafacilityuserlogin'] .user-login-form .form-actions {
  @extend .btn;
  padding: 0 0 8px 0;
}



[id^='block-findafacilityuserlogin'] .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

[id^='block-findafacilityuserlogin'] .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

[id^='block-findafacilityuserlogin'] .fieldset-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: -.5rem;
}

[id^='block-findafacilityuserlogin'] .fieldset-wrapper #edit-actions {
  padding-bottom: 0;
}

[id^='block-findafacilityuserlogin'] #edit-forgotpass {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 3;
  margin-top: .5rem;
}

[id^='block-findafacilityuserlogin'] #edit-forgotpass a {
  color: $orange;
}

[id^='block-findafacilityuserlogin'] #edit-forgotpass a:hover {
  color: $white;
  text-decoration: underline;
}

#user-login-form .form-actions input {
  width: 100%;
}

@include media-breakpoint-down(sm) {
  .path-frontpage .facility-search.search-login-section.col-12.col-md-6 h3,
  .path-frontpage .login.search-login-section.col-12.col-md-6 h3 {
    top: 0;
  }
  .path-frontpage .login.search-login-section.col-12.col-md-6 h3,
  .path-frontpage .login.search-login-section .bottom-link {
    padding-right: 2rem;
  }
  [id^='block-findafacilityuserlogin'] h3:before,
  [id^='block-findafacilityuserlogin'] h3:after {
    background-color: transparent;
  }
  [id^='block-findafacilityuserlogin'] h3:after {
    top: 16px;
  }
  .facility-search-simple,
  [id^='block-findafacilityuserlogin'] .user-login-form {
    flex-direction: column;
    justify-content: center;
  }
  .facility-search-simple {
    padding-right: 0;
  }
  [id^='block-findafacilityuserlogin'] .user-login-form {
    padding-right: 2rem;
  }
  .facility-search-simple .facility-search-submit input,
  [id^="block-findafacilityuserlogin"] .user-login-form .form-actions input {
    width: 100%;
  }
  [id^="block-findafacilityuserlogin"] .bottom-link {
    text-align: center;
  }
  [id^="block-findafacilityuserlogin"] .user-login-form .form-item {
    margin-right: 0;
  }
  .login.search-login-section.col-12.col-md-6 {
    margin-top: 2rem;
  }
  [id^='block-findafacilityuserlogin'] .fieldset-wrapper {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}
