.home-join-msca h2 {
  @extend .line-heading;

}
.home-join-msca h2:before,
.home-join-msca h2:after {
  background-color: $white;
}

.header-image img {
  width: 50px;
  height: 50px;
}

.header-image {
  text-align:center;
  @extend .line-heading;
  margin-bottom: 1rem;
}

.home-recent-news .header-image:before,
.home-recent-news .header-image:after {
  background-color: $blue;
}

.paragraph--type--video .header-image:before,
.paragraph--type--video .header-image:after,
.homepage-foundation-header .header-image:before,
.homepage-foundation-header .header-image:after,
.upcoming-events .header-image:before,
.upcoming-events .header-image:after {
  background-color: $white;
}

.homepage-foundation-header .header-image {
  margin-bottom: 0;
}