.scholarship-recipient {
  margin-bottom: 1rem;
}

.container-no-padding {
  padding: 0;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#block-msca-theme-local-tasks {
  @extend .container;
}

article > .container {
  padding-left: 75px;
  padding-right: 75px;
}

body > .main-container {
  padding-bottom: 3rem;
}

// Prevent title from getting cropped for authenticated admins.
.adminimal-admin-toolbar.user-logged-in #block-msca-theme-page-title {
  padding: 2rem 0 1.2rem;
}

.adminimal-admin-toolbar.user-logged-in.path-content .views-element-container .contextual,
.adminimal-admin-toolbar.user-logged-in.path-content #block-msca-theme-page-title .contextual{
   top: 40px;
 }
