{#
/**
 * @file
 * Theme override to display a Sponsor node newsletter display.
 *
 */
#}
<article name="sponsor" title="sponsor" class="sponsor">

  <div{{ content_attributes }}>
    <a href="{{ content.field_web_address[0]["#plain_text"] }}">{{ content.field_logo }}</a>
    {{ content|without('field_logo') }}
  </div>
</article>
